#body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: block;
    float: none;
    line-height: normal;
    position: static;
    z-index: auto;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
  }
  #navbar {
    display: flex;
    align-items: center;
    padding: 6px;
    flex-shrink: 0;
    box-sizing: border-box;
    /* my code */
    text-align: center;
    justify-content: space-around;

padding-bottom: 6px;
padding-left: 6px;
padding-right: 6px;
padding-top: 6px;
  }
  #outer-div {
    align-items: center;
box-sizing: border-box;
color: rgb(34, 34, 34);
display: flex;
flex-shrink: 0;
font-family: arial, sans-serif;
font-size: 14px;
height: 60px;
padding-bottom: 6px;
padding-left: 6px;
padding-right: 6px;
padding-top: 6px;
  }
 #about-id {
  align-items: center;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-shrink: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 60px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
 }
 #store-id {
  color: rgb(34, 34, 34);
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-decoration: rgb(34, 34, 34);
  text-decoration-color: rgb(34, 34, 34);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
 }
 a {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #222;
 }
 #under-store-div-eek {
  color: rgb(34, 34, 34);
  display: block;
  flex-grow: 1;
  font-family: arial, sans-serif;
  font-size: 14px;
 }
 #under-eek {
  color: rgb(0, 0, 0);
font-family: Roboto, RobotoDraft, Arial, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 13px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
height: 48px;
line-height: 27px;
min-width: 0px;
position: relative;
transition-delay: 0s;
transition-duration: 0.25s;
transition-property: box-shadow;
transition-timing-function: ease;
z-index: 986;
 }
 #gmail-images-div {
  color: rgb(0, 0, 0);
  font-family: arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 15px;
  white-space: nowrap;
 }
 #gmail-div {
  color: rgb(0, 0, 0);
display: inline-block;
font-family: arial, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 13px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
line-height: normal;
padding-left: 15px;
white-space: nowrap;
 }
 #gmail {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: rgba(0, 0, 0, 0.87);
  text-decoration-color: rgba(0, 0, 0, 0.87);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  vertical-align: middle;
  white-space: nowrap;
 }
 #images-div {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
  white-space: nowrap;
 }
 #images-id {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: rgba(0, 0, 0, 0.87);
  text-decoration-color: rgba(0, 0, 0, 0.87);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  vertical-align: middle;
  white-space: nowrap;
 }
 #sign-in-apps-div {
  color: rgb(0, 0, 0);
  float: right;
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  white-space: nowrap;
 }
 #apps {
  background-position: -64px -29px;
  background-position-x: -64px;
  background-position-y: -29px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 40px;
  line-height: normal;
  opacity: 1;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  text-decoration: rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  vertical-align: middle;
  white-space: nowrap;
  width: 40px;
 }
 #sign-in {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(26, 115, 232);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 14px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 96px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 9px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 9px;
  text-align: center;
  text-decoration: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  vertical-align: middle;
  white-space: nowrap;
 }
 #sign-in-apps-gmail-images {
  align-items: center;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  float: right;
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: 48px;
  justify-content: flex-end;
  line-height: normal;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 4px;
  padding-top: 0px;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -moz-box-align: center;
 }
 
  #form-div {
    max-height: 160px;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: space-around;
    padding: 10px;

  }
  #google-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
  }
  #search-div {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(223, 225, 229);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(34, 34, 34);
    display: flex;
    height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 584px;
    width: 582px;
    z-index: 3;
    text-align: center;
    align-self: center;
  }
  #google-search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    flex: 1;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 5px;
  }
  #btn-div {
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
    padding: 10px;
  }
  #search-button{
    background-color: rgb(248, 249, 250);
    border-bottom-color: rgb(248, 249, 250);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(248, 249, 250);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(248, 249, 250);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(248, 249, 250);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(60, 64, 67);
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    min-width: 54px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    text-align: center;
    user-select: none;
    visibility: visible
  }
  #lucky-button {
    background-color: rgb(248, 249, 250);
    border-bottom-color: rgb(248, 249, 250);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(248, 249, 250);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(248, 249, 250);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(248, 249, 250);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(60, 64, 67);
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    margin-bottom: 11px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    min-width: 54px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    text-align: center;
    user-select: none;
    visibility: visible
  }
  #empty-div {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    flex-grow: 1;
    flex-shrink: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 180px
  }
  #footer-div {
    background-clip: border-box;
    background-color: rgb(242, 242, 242);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    flex-shrink: 0;
  }
  #uk-div {
    border-bottom-color: rgb(218, 220, 224);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    height:20px;
    font-size: 10px;
  }
  #link-div {
    display: flex;
    align-items: center;
    padding: 6px;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: space-around;
    height:50px;
    font-size: 10px;
  }

  .footer-link-left {
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    font-family: arial, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: rgba(0, 0, 0, 0.87);
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    vertical-align: middle;
    white-space: nowrap;
}
.footer-link-middle {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: rgba(0, 0, 0, 0.87);
  text-decoration-color: rgba(0, 0, 0, 0.87);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  vertical-align: middle;
  white-space: nowrap;
}
.footer-link-right{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: rgba(0, 0, 0, 0.87);
  text-decoration-color: rgba(0, 0, 0, 0.87);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  vertical-align: middle;
  white-space: nowrap;
}